<a href="{{@site.url}}" class="h-full mr-8">
    <!-- 
        <img alt="{{@site.title}}" src="{{asset "images/logo-black.png"}}" class="h-full logo-black mx-auto lg:mx-0" style="max-height: 100%; width: auto; max-width: 200px;" />
        <img alt="{{@site.title}}" src="{{asset "images/logo-white.png"}}" class="h-full logo-white mx-auto lg:mx-0" style="max-height: 100%; width: auto; max-width: 200px;" />
     -->
    <img alt="{{@site.title}}" class="mx-auto lg:mx-0" src="{{@site.logo}}" style="max-height: 100%; width: auto; max-width: 200px;" />
</a>